@use '../shared/variables.scss' as *;

@media (min-width: $mobile-min-width-breakpoint) {
    nav.navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    nav.navbar li a {
        padding: 10px 16px !important;
        border-radius: 4px;
    }
}

nav.navbar {
    position: fixed;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

    a {
        font-weight: bold;
    }

    .container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: $content-max-width + 19px; //Added 19px to account for scrollbar.
        width: 100%;
        padding: 0px;
        margin: 0px;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px;

        .navbar-nav {
            display: flex !important;
            flex-direction: row;
        }

        .navbar-header {
            display: flex;
            align-items: center;

            .navbar-brand {
                padding: 0px 20px;
                width: 200px;
                display: flex;
                align-items: center;

                >img {
                    max-width: 300px;
                    max-height: 32px;
                    width: 169px;
                    height: 32px;
                }
            }
        }
    }
}